<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        Accout : <span th:text="${account.number }"></span>
                 <span th:text="${account.amount }"></span>
                 <span th:text="${account.currency }"></span>
    </body>
</html>